[Unit]
Description=To set nginx for nonswb deployment
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes

[Service]
User=root
Group=root
ExecStart=/bin/bash /usr/local/bin/nonswb-nginx

[Install]
WantedBy=multi-user.target